WebContent/wsdl/MethodExample.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://wrapperMethods" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://wrapperMethods" xmlns:intf="http://wrapperMethods" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://wrapperMethods" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="countCharactersWrapper">
    <complexType>
     <sequence>
      <element name="userName" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
      <element name="toCount" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="countCharactersWrapperResponse">
    <complexType>
     <sequence>
      <element name="countCharactersWrapperReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="countCharactersWrapperRequest">

      <wsdl:part element="impl:countCharactersWrapper" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="countCharactersWrapperResponse">

      <wsdl:part element="impl:countCharactersWrapperResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="MethodExample">

      <wsdl:operation name="countCharactersWrapper">

         <wsdl:input message="impl:countCharactersWrapperRequest" name="countCharactersWrapperRequest"/>

         <wsdl:output message="impl:countCharactersWrapperResponse" name="countCharactersWrapperResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="MethodExampleSoapBinding" type="impl:MethodExample">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="countCharactersWrapper">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="countCharactersWrapperRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="countCharactersWrapperResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="MethodExampleService">

      <wsdl:port binding="impl:MethodExampleSoapBinding" name="MethodExample">

         <wsdlsoap:address location="http://localhost:8080/apse503/services/MethodExample"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
